@import '../../style/colors';

#header-navbar .logo-size{
    width: 2.7rem;
}

#header-navbar .navbar{
    padding: .3rem 5rem;
    border-bottom: 4px solid $primaryColor;
}

@media (max-width: 990px){
    #header-navbar .navbar{
        padding: .3rem 1rem;
    }
}