@import '../../style/_colors.scss';

#searching-menu .btn-default{
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
}

#searching-menu .btn-default:hover{
    background-color: $primaryColorHover;
    border: 1px solid $primaryColorHover;
}