
@import '../../style/colors', '../../style/text';

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $primaryColor;
    color: white;
    text-align: center;
    height: 50px;
 }

 #footer .text-footer{
     margin-top: 0.95rem;
     font-family: $font-footer;
     font-size: 0.7rem;
 }
