@import '../../style/text' , '../../style/colors';

#detail-albums {
    margin-top: 1em;
}

#detail-albums .text-label{
    font-family: $font-content-EN;
    color: $primaryColor;
    font-weight: 500;

}

#detail-albums .text-content{
    font-family: $font-content-EN;
    color: rgb(102, 102, 102);
    font-weight: 400;
}